body {
    background-color: #fff; /* White background */
    color: #333; /* Black text */
  }
  
  /* Sections */
  section {
    background-color: #f0f0f0; /* Light grey background for sections */
  }
  
  /* Headers */
  h1 {
    color: #fff; /* White headers */
  }
  h2 {
    color: #333;
  }
  
  /* Buttons */
  button {
    background-color: #333; /* Black buttons */
    color: #fff; /* White text */
  }
  
  /* Links */
  a {
    color: #333; /* Black links */
  }
  
  /* To-Do List Section */
  .to-do-list {
    background-color: #fff; /* White background for the to-do list section */
  }

  .completed {
    text-decoration: line-through;
}
  
  /* Pomodoro Timer Section */
  .pomodoro-timer {
    background-color: #f0f0f0; /* Light grey background for the pomodoro timer section */
  }
  .container {
    text-align: center;
    width: 100%;
    padding: 10px 0;
  }
  
  .timer {
    display: inline-block;
    padding: 10px;
    width: 600px;
    box-sizing: border-box;
  }
  h1 {
    font-size: 2em;
    width: 8ch;
    margin: 20px auto;
  }
  .button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .button {
    background-color: #2e325a;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
  }
  .button:hover {
    background-color: #f87070;
  }
  .hidden {
    display: block;
  }
  .timer-display {
    font-size: 5em;
    margin-top: 20px;
    font-weight: bold;
  }
  #buttons {
    margin-top: 20px;
  }
  #start,
  #stop {
    background-color: #2e325a;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
  }
  
  #stop:hover {
    background-color: tomato;
  }
  #start:hover {
    background-color: #219a52;
  }
   #timer-message {
     color: white;
     background-color: tomato;
     display: none;
     padding: .5em;
     font-size: 1em;
     text-align: center;
     border-radius: 1em;
        }
  
  /* Current Date Section */
  .current-date {
    background-color: #f0f0f0; /* Light grey background for the current date section */
  }
  